[Unit]
Description=System Logger Daemon

[Service]
Sockets=syslog.socket
ExecStart=/usr/sbin/syslog-ng -F
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=null

[Install]
WantedBy=multi-user.target
