[submodule "modules/afmongodb/libmongo-client"]
	path = modules/afmongodb/libmongo-client
	url = git://git.balabit.hu/bazsi/libmongo-client.git
[submodule "lib/ivykis"]
	path = lib/ivykis
	url = git://github.com/buytenh/ivykis.git
