{arch}
.arch-ids
.arch-inventory
.gitcommit.txt
autom4te.cache
*~
Makefile.in
aclocal.m4
config.h.in
configure
configure.gnu
depcomp
install-sh
missing
mkinstalldirs
cscope.out
._*
config.guess
config.sub
config.cache
stamp-h.in
stamp-h
ylwrap
.*.swp
*.pyc
ltmain.sh
.project
.cproject
.settings
Debug
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/pkg.m4
m4/ax*.m4
/compile
.deps
/lib/cfg-grammar.h
/test-driver
dbld/build/
dbld/release/
dbld/install/
dbld/rules.conf
debian/build-tree/
debian/*.log
debian/autoreconf.*
