*~
/debian/autoreconf.*
/debian/build-tree/
/debian/control
/debian/files
/debian/*debhelper*
/debian/*substvars
/debian/tmp/
/debian/syslog-ng-core/
/debian/syslog-ng-dbg/
/debian/syslog-ng/
/debian/syslog-ng-mod-*/
/debian/syslog-ng-dev/
