#! /usr/bin/make -f

ifneq (,$(filter debug,$(DEB_BUILD_OPTIONS)))
	EXTRA_CONFIGURE_OPTS += --enable-debug
endif

export DH_OPTIONS += -O-Bdebian/build-tree

default: build

override_dh_autoreconf:
	install -d lib/ivykis/m4 modules/afmongodb/libmongo-client/m4
	skip_git=1 dh_autoreconf sh ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--mandir=/usr/share/man \
		--sysconfdir=/etc/syslog-ng \
		--localstatedir=/var/lib/syslog-ng \
		--datadir=/usr/share/syslog-ng \
		\
		--enable-dynamic-linking \
		--enable-ssl \
		--enable-spoof-source \
		--enable-tcp-wrapper \
		--enable-sql \
		--enable-mongodb \
		--enable-json \
		--disable-systemd \
		\
		--with-libmongo-client=system \
		--with-ivykis=internal \
		--with-json=json-c \
		\
		${EXTRA_CONFIGURE_OPTS}

override_dh_auto_test:

override_dh_auto_clean:
	dh_auto_clean
	find . \( -name 'Makefile.in' -or \
		  -name 'aclocal.m4' -or \
		  -name 'configure' -or \
		  -name 'depcomp' -or -name 'missing' -or \
		  -name 'install-sh' -or -name 'ltmain.sh' -or \
		  -name 'ylwrap' -or \
		  -regex '.*/config\.\(sub\|guess\|h\.in\)' \) \
	     -exec rm '{}' \;
	rm -f m4/lt*.m4 m4/libtool.m4 m4/pkg.m4
	rm -rf lib/ivykis/m4 modules/afmongodb/libmongo-client/m4

override_dh_install:
	dh_install
	chmod +x debian/syslog-ng-dev/usr/share/syslog-ng/tools/merge-grammar.pl

override_dh_installdocs:
	dh_installdocs --link-doc=syslog-ng-core

# Install the NEWS file as upstream changelog.
# Rationale: the ChangeLog file is an old artifact from the Arch
# times. It is not updated, and is obsolete.
override_dh_installchangelogs:
	dh_installchangelogs NEWS

# Init files and whatnot were moved to syslog-ng-core, but we want to
# retain the old filenames.
override_dh_installinit:
	dh_installinit --name syslog-ng -- defaults 10 90

# Dummy build thingy, to work around upstream build/ dir.
build: build-stamp
build-stamp:
.PHONY: build-stamp

get-orig-source: UPSTREAMVERSION=$(shell dpkg-parsechangelog | sed -n '/\(Version:\)/{s/^Version:[[:space:]]\+\([0-9]\+:\)\?\(.*\)/\2/p}' | rev | cut -d- -f 2- | rev)
get-orig-source:
	git submodule update --init
	install -d debian/orig-source
	git archive patched --format tar --prefix=syslog-ng/ | tar -C debian/orig-source -xf -
	(cd lib/ivykis; git archive HEAD --format tar --prefix=syslog-ng/lib/ivykis/) | tar -C debian/orig-source -xf -
	(cd modules/afmongodb/libmongo-client; git archive HEAD --format tar --prefix=syslog-ng/modules/afmongodb/libmongo-client/) | tar -C debian/orig-source -xf -
	tar -C debian/orig-source -cf - syslog-ng | xz -9 >../syslog-ng_${UPSTREAMVERSION}.orig.tar.xz
	rm -rf debian/orig-source

%:
	dh $@ --with autoreconf
