/var/log/auth.log {
   rotate 4
   missingok
   notifempty
   weekly
   compress
}

/var/log/cron.log {
   rotate 4
   weekly
   missingok
   notifempty
   compress
}

/var/log/daemon.log {
   rotate 7
   weekly
   missingok
   notifempty
   compress
}

/var/log/debug {
   rotate 1
   daily
   missingok
   notifempty
   compress
}

/var/log/error {
   rotate 6
   weekly
   missingok
   notifempty
   compress
}


/var/log/kern.log {
   rotate 4
   weekly
   missingok
   notifempty
   compress
}

/var/log/lpr.log {
   rotate 4
   weekly
   missingok
   notifempty
   compress
}

#/var/log/mail.err {
#   rotate 4
#   weekly
#   missingok
#   notifempty
#   compress
#}

#/var/log/mail.info {
#   rotate 4
#   weekly
#   missingok
#   notifempty
#   compress
#}

#/var/log/mail.log {
#   rotate 4
#   weekly
#   missingok
#   notifempty
#   compress
#}

#/var/log/mail.warn {
#   rotate 4
#   weekly
#   missingok
#   notifempty
#   compress
#}

#/var/log/news/* will be rotate inn by itself

/var/log/ppp.log {
   rotate 4
   weekly
   missingok
   notifempty
   compress
}

/var/log/user.log {
   rotate 4
   weekly
   missingok
   notifempty
   compress
}

/var/log/uucp.log {
   rotate 4
   missingok
   notifempty
   weekly
   compress
}

/var/log/syslog.log {
   rotate 7
   daily
   compress
   postrotate
      /etc/init.d/syslog-ng reload >/dev/null
   endscript
}
