#!/usr/local/bin/make -f
STAMPDIR=winbuild/stamps
STAGINGDIR=winbuild/staging

ZBS_STAGE_DIR=$(STAGINGDIR)
CONFIG_OPTS=--disable-json --sbindir='$${prefix}/bin' --with-module-dir='$${prefix}/bin' --with-pidfile-dir='$${prefix}/var/run' --enable-spoof-source --disable-threaded
BUILDCMD=./balabit-vs-build
ifneq (,$(build))
CONFIG_OPTS += --build=$(build)
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir -p $(STAMPDIR)
	chmod +x $(BUILDCMD)
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	CFLAGS="-O2 -g -I$(ZBS_BUILDER_PATH)/dep/include/libpcap $(CFLAGS)" $(BUILDCMD) configure --prefix=$(ZBS_STAGE_DIR) $(CONFIG_OPTS)
	sleep 10
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(BUILDCMD) make
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(BUILDCMD) make install
	touch $@

clean:
	rm -rf $(STAMPDIR) || true
	rm -rf $(STAGINGDIR) || true
	-$(BUILDCMD) make clean

.PHONY: build clean binary-indep binary-arch binary install
