# Please note that the syslog-ng git repository is not available in this workflow.
# It means that certain convenience/helper functions are not available (e.g. gh_output).
# This is intentional as syslog-ng will be acquired from the tarball.

name: Create package from source tarball


on:
  workflow_call:
    inputs:
      source-tarball-artifact-name:
        required: true
        type: string
      dbld-image-mode:
        required: true
        type: string  # cache / build
      distros:
        required: false
        type: string
        default:
          # Curently only the bellow packages are needed when invoked from (nightly|draft|stable)-release.yml
          # NOT from the packages.yml workflow (that will provide its own set in the distros parameter)
          #
          # These are also built if distros is set from outside when invoked via the packages.yml workflow,
          # but not used for docker or binary packages publishing, when invoked from the (nightly|draft|stable)-release.yml workflows
          #   "almalinux-8",
          #   "almalinux-9",
          #   "centos-stream9",
          #   "centos-stream10",
          #   "fedora-latest",
          #   "fedora-rawhide"
          #   "ubuntu-focal",
          #
          #  "debian-testing", //failing now, investigate
          #
          # upper block for   dbld docker + binary packages
          # lower block for   dbld docker + binary packages + docker binary
          '[
            "debian-bullseye",
            "debian-bookworm",
            "debian-sid",
            "ubuntu-jammy",
            "ubuntu-noble",
            "ubuntu-plucky",
            "rhel-8",
            "rhel-9",
            "rhel-10",

            "debian-trixie",
          ]'

jobs:
  create-packages:
    name: ${{ matrix.distro }}-${{ matrix.arch }}

    # FIXME: temporary because sudo doesn't work in RedHat and descendants on an ubuntu-24.04 hosts
    runs-on: ubuntu-22.04${{ matrix.runner-arch-suffix }}

    strategy:
      matrix:
        distro: ${{ fromJson(inputs.distros) }}
        arch: [amd64, arm64]
        exclude:
          - distro: debian-bullseye
            arch: arm64
          - distro: debian-sid
            arch: arm64
          - distro: debian-testing
            arch: arm64
          - distro: ubuntu-jammy
            arch: arm64
        # add suffix mapping rules via include
        include:
          - arch: arm64
            arch-suffix: '-arm64'
            runner-arch-suffix: '-arm'
          - arch: amd64
            arch-suffix: ''
            runner-arch-suffix: ''
      fail-fast: false

    steps:
      - name: Download source tarball artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.source-tarball-artifact-name }}

      - name: Extract source tarball
        run: |
          mkdir syslog-ng
          tar --strip-components=1 -xvf syslog-ng*.tar.gz -C syslog-ng

      - name: Set container ENV
        working-directory: syslog-ng
        run: |
          gh_export()
          {
              while [ "x$1" != "x" ]; do
                  echo "$1<<__EOF__" >> $GITHUB_ENV
                  eval echo \$$1     >> $GITHUB_ENV
                  echo "__EOF__"     >> $GITHUB_ENV
                  shift;
              done
          }

          CONTAINER_ARCH=${{ matrix.arch }}
          CONTAINER_NAME_SUFFIX=${{ matrix.arch-suffix }}

          gh_export CONTAINER_ARCH CONTAINER_NAME_SUFFIX

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare docker image
        working-directory: syslog-ng
        #env:
            # FIXME: far not enough to access the docker image directly
            # s.g. like
            #     echo $GITHUB_TOKEN | docker login ghcr.io -u USERNAME --password-stdin
            # might work
            #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ "${{ inputs.dbld-image-mode }}" = "build" ]]
          then
            ./dbld/rules image-${{ matrix.distro }}${CONTAINER_NAME_SUFFIX}
          elif [[ "${{ inputs.dbld-image-mode }}" = "cache" ]]
          then
            ./dbld/rules cache-image-${{ matrix.distro }}${CONTAINER_NAME_SUFFIX}
          else
            echo Unexpected input: dbld-image-mode=${{ inputs.dbld-image-mode }}
            false
          fi

      # temp workaround of no sudo allowed
      - name: Disable AppArmor on the GitHub runner
        uses: cisagov/action-disable-apparmor@437d94f26a2e4bf8c03acfb500a6afc688b497db # v1.0.0

      - name: Create package
        working-directory: syslog-ng
        run: |
          ./dbld/rules package-${{ matrix.distro }}${CONTAINER_NAME_SUFFIX}

      - name: Prepare package for artifact
        # We want to keep the directory structure starting with ${{ matrix.distro }},
        # but it can only be done, if we give its parent directory as `path` to upload-artifact.
        # There are other directories in dbld/build which we do not want to upload,
        # so let's make a temporary directory and move the ${{ matrix.distro }} directory there.
        run: |
          mkdir package
          cp -r syslog-ng/dbld/build/${{ matrix.distro }}${CONTAINER_NAME_SUFFIX} package/

      - name: Store package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.distro }}${{ matrix.arch-suffix }}
          path: package/*
