name: macOS-latest

on: [pull_request, push]

jobs:
  build-and-check:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: build-and-check
        run: |
          set -e
          export PYTHONUSERBASE=$HOME/python_packages
          export PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig:$PKG_CONFIG_PATH
          export PATH=/usr/local/opt/bison/bin:/usr/local/opt/libnet/bin:$PYTHONUSERBASE/bin:$PATH

          brew bundle --file=contrib/Brewfile
          pip install --user -r requirements.txt

          ./autogen.sh
          ./configure \
            --with-ivykis=system \
            --disable-sun-streams \
            --disable-systemd \
            --disable-pacct \
            --disable-smtp \
            --disable-geoip \
            --enable-all-modules

          make --keep-going -j $(sysctl -n hw.physicalcpu) || \
            { \
              S=$?; \
              make V=1; \
              return $S; \
            }

          make --keep-going check -j $(sysctl -n hw.physicalcpu) || \
            { \
              S=$?; \
              echo "Output of first test invocation:"; \
              find . -name test-suite.log | xargs cat; \
              make V=1 check; \
              echo "Output of second test invocation:"; \
              find . -name test-suite.log | xargs cat; \
              return $S; \
            }
