name: Publish Docker image


on:
  workflow_call:
    inputs:
      pkg-type:
        required: true
        type: string  # stable / nightly
    secrets:
      dockerhub-username:
        required: true
      dockerhub-password:
        required: true


env:
  DOCKER_IMAGE_NAME: balabit/syslog-ng


jobs:
  publish-docker-image:
    name: Publish syslog-ng Docker image
    if: github.repository_owner == 'syslog-ng'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout syslog-ng source
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.dockerhub-username }}
          password: ${{ secrets.dockerhub-password }}

      - name: Extract metadata (syslog-ng version) for Docker
        if: inputs.pkg-type == 'stable'
        id: stable-tags
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: type=match,pattern=syslog-ng-(.*),group=1
          sep-tags: ','

      - name: Compose Docker image tags
        id: tags
        run: |
          if [[ '${{ inputs.pkg-type }}' = 'stable' ]]; then
            TAGS='${{ steps.stable-tags.outputs.tags }}'
          elif [[ '${{ inputs.pkg-type }}' = 'nightly' ]]; then
            TAGS="${DOCKER_IMAGE_NAME}:nightly"
          else
            echo Unexpected input: pkg-type=${{ inputs.pkg-type }}
            false
          fi

          . .github/workflows/gh-tools.sh
          gh_output TAGS

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: docker/
          push: true
          tags: ${{ steps.tags.outputs.TAGS }}
          build-args: PKG_TYPE=${{ inputs.pkg-type }}

      - name: Scan docker image on CVEs (ALL to a table) # https://aquasecurity.github.io/trivy/v0.54/docs/
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.tags.outputs.TAGS }}

          format: 'table'
          dependency-tree: true
          severity: 'CRITICAL,HIGH,MEDIUM,LOW'

      - name: Scan docker image on CVEs (CRITICAL,HIGH to a sarif file)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.tags.outputs.TAGS }}

          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

          # DO NOT break the build yet if an issue is detected
          #exit-code: '1'

      - name: Upload Trivy scan sarif file results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
