name: syslog-ng snapshot

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'syslog-ng repository'
        required: true
        default: 'syslog-ng/syslog-ng'
        type: string
      ref:
        description: 'syslog-ng ref (branch, tag, commit id)'
        required: true
        default: 'master'
        type: string
  pull_request:
    paths:
      - 'syslog-ng/**'
      - '.github/workflows/**'
  push:
    paths:
      - 'syslog-ng/**'
      - '.github/workflows/**'
  schedule:
    - cron: '00 23 * * *'

jobs:
  tarball:
    name: create-source-tarball
    runs-on: ubuntu-latest
    outputs:
      snapshot-version: ${{ steps.snapshot-version.outputs.SNAPSHOT_VERSION }}
    steps:
      - name: Checkout syslog-ng source
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repo || 'syslog-ng/syslog-ng' }}
          ref: ${{ inputs.ref || 'master' }}
          fetch-depth: 0

      - name: Prepare docker image
        run: ./dbld/rules cache-image-tarball

      - name: Create source tarball
        run: ./dbld/rules pkg-tarball

      - name: Determine snapshot version
        id: snapshot-version
        run: |
          tarball_filename="$(find dbld/build -name '*.tar.*' -printf '%f\n')"
          tarball_name="${tarball_filename/\.tar.*}"
          tarball_version="${tarball_name/syslog-ng-}"
          pkg_version="$(echo $tarball_version | sed -E 's|(([0-9]+\.){2}[0-9]+).*|\1|')_git$(date +%Y%m%d)"
          echo "SNAPSHOT_VERSION=${pkg_version}" >> $GITHUB_OUTPUT

      - name: Store source tarball as artifact
        uses: actions/upload-artifact@v3
        with:
          name: source-tarball
          path: dbld/build/*.tar.*

  build-and-test:
    runs-on: ubuntu-latest
    needs: tarball
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Download source tarball artifact
        uses: actions/download-artifact@v3
        with:
          name: source-tarball
          path: syslog-ng/apkbuild/axoflow/syslog-ng

      - name: Build and export Docker image
        uses: docker/build-push-action@v3
        with:
          context: syslog-ng
          file: syslog-ng/alpine.dockerfile
          load: true
          tags: syslog-ng:test
          build-args: |
            PKG_TYPE=nightly
            SNAPSHOT_VERSION=${{ needs.tarball.outputs.snapshot-version }}

      - name: Smoke test
        run: |
          export SYSLOG_NG_IMAGE="syslog-ng:test"
          export SYSLOG_NG_VERSION="${{ needs.tarball.outputs.snapshot-version }}"
          syslog-ng/tests/smoke.sh


  publish-image:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/syslog-ng-docker.yml
    needs: [tarball, build-and-test]
    with:
      pkg-type: nightly
      tarball-artifact: source-tarball
      snapshot-version: ${{ needs.tarball.outputs.snapshot-version }}
