#!/usr/local/bin/make -f

STAMPDIR=solbuild/stamps
PREFIX=/opt/syslog-ng
DOCDIR=$(PREFIX)/doc
INSTPREFIX=/solbuild/syslog-ng
INSTALL=/usr/sbin/install

SOLVER=$(filter 1%,$(shell uname -r | cut -f2 -d\.))

CONFOPTS=
ifneq ($(SOLVER),)
CONFOPTS=--enable-dynamic-linking
endif

all: binary

binary: setup configure build install pkgpackage

setup: $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir solbuild/stamps || true

	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	./configure --prefix=/opt/syslog-ng --enable-ssl --enable-sql $(CONFOPTS)
	touch $@

build: $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	make
	touch $@

install:  $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	dir=`pwd`;  \
	rm -rf $$dir/$(INSTPREFIX)/; \
	make install DESTDIR=$$dir/$(INSTPREFIX); \
	$(INSTALL) -d -m 755 $$dir/$(INSTPREFIX)/$(PREFIX)/etc; \
	$(INSTALL) -d -m 755 $$dir/$(INSTPREFIX)/$(PREFIX)/etc/syslog-ng; \
	$(INSTALL) -d -m 755 $$dir/$(INSTPREFIX)/$(DOCDIR); \
	$(INSTALL) -d -m 755 $$dir/$(INSTPREFIX)/$(DOCDIR)/examples; \
	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) README; \
	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) COPYING; \
	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) AUTHORS; \
	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) ChangeLog; \
	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) NEWS; \
	( cd doc/examples; \
	  $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR)/examples syslog-ng.conf.sample; \
	  $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR)/examples syslog-ng.conf.solaris; \
	  $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(PREFIX)/etc/ syslog-ng.conf.solaris; \
	  mv $$dir/$(INSTPREFIX)/$(PREFIX)/etc/syslog-ng.conf.solaris $$dir/$(INSTPREFIX)/$(PREFIX)/etc/syslog-ng.conf.sample; \
	);\
	( cd doc/reference; \
	  $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) syslog-ng.txt; \
	); \
	( cd  $$dir/$(INSTPREFIX)/$(DOCDIR); \
	  gunzip -c $$dir/doc/reference/syslog-ng.html.tar.gz | tar xvf - ); \
	( cd $$dir/contrib ; \
	  $(INSTALL) -d -m 755 $$dir/$(INSTPREFIX)/$(DOCDIR)/examples/contrib; \
	  for file in README init.d.HP-UX init.d.RedHat init.d.RedHat-7.3 init.d.SuSE init.d.SunOS init.d.solaris relogger.pl syslog-ng.conf.HP-UX syslog-ng.conf.RedHat syslog-ng.conf.SunOS syslog-ng.conf.doc syslog-ng.vim syslog2ng; do \
	  	$(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR)/examples/contrib $$file; \
	  done; \
	); \
	( cd $$dir/solbuild; \
	  $(INSTALL) -m 755 -c $$dir/$(INSTPREFIX)/$(DOCDIR) syslog-ng.init.d;\
	); \
	( cd $$dir/contrib/solaris-packaging; \
	 $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) syslog-ng.example.xml; \
	 $(INSTALL) -m 755 -c $$dir/$(INSTPREFIX)/$(DOCDIR) syslog-ng.method; \
	 $(INSTALL) -m 644 -c $$dir/$(INSTPREFIX)/$(DOCDIR) solaris10_install.txt; \
	)
	touch $@ 
	
pkgpackage:
	(cd solbuild/syslog-ng ; sh ../prototype-maker.sh ; sh ../pkgmaker.sh )

clean:
	rm -rf solbuild/stamps || true
	rm -rf solbuild/syslog-ng || true
	make clean
